<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Portfolio | Corlate</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/icon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">

    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/htmleaf-demo.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<!--/head-->

<body>

    <header id="header">


        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img class="logo" src="images/logo.png" alt="logo">
                    </a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <!-- <li class="active"><a href="index.html">回首頁</a></li> -->
                        <!-- <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">  找尋遺跡 <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-item.html">台北市</a></li>
                                <li><a href="pricing.html">新北市</a></li>
                                <li><a href="404.html">基隆市</a></li>
                                <li><a href="shortcodes.html">桃園市</a></li>
                                <li><a href="shortcodes.html">新竹縣</a></li>
                                <li><a href="shortcodes.html">新竹市</a></li>
                                <li><a href="shortcodes.html">苗栗縣</a></li>   
                            </ul>
                        </li> -->
                        <li>
                            <a href="/lookforRemains?city=1&trace=1">找尋遺跡</a>
                        </li>
                        <li>
                            <a href="/activity">活動宣傳</a>
                        </li>
                        <li>
                            <a href="/peopleStory">人物故事</a>
                        </li>

                        <li>
                            <a href="/historicalSnapshots">歷史剪影</a>
                        </li>
                        <li>
                            <a href="/aboutus">關於我們</a>
                        </li>
                        <!-- <li><a href="blog.html">Blog</a></li> 
                        <li><a href="contact-us.html">Contact</a></li>                         -->
                    </ul>
                </div>
            </div>
            <!--/.container-->
        </nav>
        <!--/nav-->

    </header>
    <!--/header-->
    <section id="portfolio">
        <div class="container">
            <div class="center">
                <h2>歷史剪影</h2>
                <p class="lead">Historical Snapshots</p>
            </div>

            <!-- 
            <ul class="portfolio-filter text-center">
                <li>
                    <a class="btn btn-default active" href="#" data-filter="*">All Works</a>
                </li>
                <li>
                    <a class="btn btn-default" href="#" data-filter=".bootstrap">Creative</a>
                </li>
                <li>
                    <a class="btn btn-default" href="#" data-filter=".html">Photography</a>
                </li>
                <li>
                    <a class="btn btn-default" href="#" data-filter=".wordpress">Web Development</a>
                </li>
            </ul> -->
            <!--/#portfolio-filter-->

            <div class="row">
                <div class="waterfall" id="waterfall">
                    <!-- <% traces.forEach(function(trace){ %>
                        <div class="col-md-3 item">
                                <a href="javascript: return false; " onclick="history(<%= trace.trace_no %>)">
                                        <img src="images/remains/<%= trace.english_name %>/<%= trace.trace_name %>/<%= trace.trace_name %>.jpg" class="img-responsive"/>
                                     
                                     </a>
                                     <p><%= trace.trace_name %></p>
                            
                        </div>
                        <% }); %> -->
                    <!-- <div id="image"> 
                                <% traces.forEach(function(trace){ %>
                              <ul class="list-group">
                                <li class="list-group-item">
                                       
                                  <a href="javascript: return false; " onclick="history(<%= trace.trace_no %>)">
                                     <img src="images/remains/<%= trace.english_name %>/<%= trace.trace_name %>/<%= trace.trace_name %>.jpg" />
                                  
                                  </a>
                                </li>
                                <li class="list-group-item">
                                        <p><%= trace.trace_name %></p>
                              </ul>
                              <% }); %>
                            </div> -->
                </div>
                <!-- <% traces.forEach(function(item){ %>
             
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="recent-work-wrap">
                                <img class="img-responsive" src="images/remains/New Taipei/滬尾砲台/滬尾砲台大門的椒圖_a.jpg" alt="">
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3>
                                            <a href="#">
                                                <%= item.trace_name %>
                                            </a>
                                        </h3>
                                        <p>
                                            <%= item.introduce %>
                                        </p>
                                        <a class="preview" href="images/remains/New Taipei/滬尾砲台/滬尾砲台大門的椒圖.jpg" rel="prettyPhoto">
                                            <i class="fa fa-eye"></i> View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                <% }); %> -->
            </div>
        </div>
    </section>
    <!--/#portfolio-item-->

    <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Company</h3>
                        <ul>
                            <li>
                                <a href="#">About us</a>
                            </li>
                            <li>
                                <a href="#">We are hiring</a>
                            </li>
                            <li>
                                <a href="#">Meet the team</a>
                            </li>
                            <li>
                                <a href="#">Copyright</a>
                            </li>
                            <li>
                                <a href="#">Terms of use</a>
                            </li>
                            <li>
                                <a href="#">Privacy policy</a>
                            </li>
                            <li>
                                <a href="#">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Support</h3>
                        <ul>
                            <li>
                                <a href="#">Faq</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                            <li>
                                <a href="#">Forum</a>
                            </li>
                            <li>
                                <a href="#">Documentation</a>
                            </li>
                            <li>
                                <a href="#">Refund policy</a>
                            </li>
                            <li>
                                <a href="#">Ticket system</a>
                            </li>
                            <li>
                                <a href="#">Billing system</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Developers</h3>
                        <ul>
                            <li>
                                <a href="#">Web Development</a>
                            </li>
                            <li>
                                <a href="#">SEO Marketing</a>
                            </li>
                            <li>
                                <a href="#">Theme</a>
                            </li>
                            <li>
                                <a href="#">Development</a>
                            </li>
                            <li>
                                <a href="#">Email Marketing</a>
                            </li>
                            <li>
                                <a href="#">Plugin Development</a>
                            </li>
                            <li>
                                <a href="#">Article Writing</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Our Partners</h3>
                        <ul>
                            <li>
                                <a href="#">Adipisicing Elit</a>
                            </li>
                            <li>
                                <a href="#">Eiusmod</a>
                            </li>
                            <li>
                                <a href="#">Tempor</a>
                            </li>
                            <li>
                                <a href="#">Veniam</a>
                            </li>
                            <li>
                                <a href="#">Exercitation</a>
                            </li>
                            <li>
                                <a href="#">Ullamco</a>
                            </li>
                            <li>
                                <a href="#">Laboris</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--/.col-md-3-->
            </div>
        </div>
    </section>
    <!--/#bottom-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2018 國立臺北商業大學 資訊管理系
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li>
                            <a href="/lookforRemains">找尋遺跡</a>
                        </li>
                        <li>
                            <a href="/activity">活動宣傳</a>
                        </li>
                        <li>
                            <a href="/peopleStory">人物故事</a>
                        </li>

                        <li>
                            <a href="/historicalSnapshots">歷史剪影</a>
                        </li>
                        <li>
                            <a href="/aboutus">關於我們</a>
                        </li>
                        <li>
                            <a href="#">回到頂部</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="http://cdn.bootcss.com/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>
    <script src="js/bootstrap-waterfall.js"></script>
    <script id="waterfall-template" type="text/template">

       
           
        
        <% traces.forEach(function(trace){ %>
      <ul class="list-group">
        <li class="list-group-item">
               
          <a href="javascript: return false; " onclick="history(<%= trace.trace_no %>)">
             <img src="images/remains/<%= trace.english_name %>/<%= trace.trace_name %>/<%= trace.trace_name %>.jpg" />
          
          </a>
        </li>
        <li class="list-group-item">
                <p><%= trace.trace_name %></p>
      </ul>
      <% }); %>
    
   
    </script>
    <script>
        //  $(function(){
        //     /* 瀑布流區塊div */        
        //     var $container = $('.waterfall-template');

        //     //當圖片讀取完畢才執行
        //     $container.imagesLoaded(function (){
        //         console.log("123");
        //       //選擇瀑布流的區塊名稱
        //       $('.waterfall').data('bootstrap-waterfall-template', $('#waterfall-template').html());


        //     });
        //     $('.waterfall').waterfall()
        //   });


        $('.waterfall')
            .data('bootstrap-waterfall-template', $('#waterfall-template').html())
            .waterfall();


        // $(function () {


        //     $.ajax({
        //         type: 'POST',
        //         dataType: 'json',
        //         url: "/historicalSnapshots/image",
        //         data: {
        //             "trace": "123"
        //         },
        //         success: function (data) {
        //             var html = "";
        //             console.log(data.length);
        //             for (var i = 0; i < data.traces.length; i++) {
        //                 console.log("123");
        //                 var trace = data.traces[i];

        //                 html += '<ul class="list-group">';
        //                 html += '<li class="list-group-item">';

        //                 html += '<a href="javascript: return false; " onclick="history(';
        //                 html += trace.trace_no
        //                 html += ')" >'
        //                 html += "<img src='images/remains/";
        //                 html += trace.english_name;
        //                 html += "/";
        //                 html += trace.trace_name;
        //                 html += "/"
        //                 html += trace.trace_name;
        //                 html += ".jpg' />"
        //                 html += '</a>';
        //                 html += '</li>';
        //                 html += '</ul>';



        //                 html += '<li class="list-group-item">';
        //                 html += '<p>';
        //                 html += trace.trace_name;
        //                 html += '</p >';
        //             }
        //             console.log(html);
        //             $("#image").append(html);
        //             $('.waterfall')
        //                 .data('bootstrap-waterfall-template', $('#waterfall-template').html())
        //                 .waterfall();
        //         }
        //     });
        // })

        function history(trace) {


            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: "/historicalSnapshots/history",
                data: {
                    "trace": trace
                },
                success: function (data) {
                    console.log(data);
                    console.log(data.traces[0].city_no);
                    var city = data.traces[0].city_no;
                    var trace = data.traces[0].trace_no;

                    console.log(trace);
                    location.href = "/showRemains?city=" + city + "&trace=" + trace
                }
            });
        }


    </script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>

</html>